.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: 2vw auto;

    &__title {
        font-size: 24px;
        font-weight: bold;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    &__loading {
        font-size: 18px;
        font-weight: bold;
        color: #777;
    }
}

.order {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__id {
        font-size: 18px;
        font-weight: bold;
    }

    &__info {
        font-size: 14px;
        color: #333;
    }
}
