.sales,
.popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &__button {
        border: 1px solid black;
        transition: all 0.3s ease;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
