.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: all ease 0.3s;

    &:hover {
        scale: 1.05;
    }

    &__img {
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    &__price {
        font-size: 14px;
        color: #888;
    }

    &__new {
        font-size: 14px;
        color: red;
    }

    &__sale {
        text-decoration: line-through;
        font-size: 14px;
        color: #888;
    }

    &__section {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__title {
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        line-height: 0;
    }

    &__description,
    &__price {
        line-height: 0;
    }
}

@media (max-width: 700px) {
    .sales {
        gap: 10px;
    }

    .cards {
        justify-content: center;
        gap: 20px;
    }

    .card {
        &__img {
            width: 150px;
            height: auto;
            border-radius: 10px;
        }

        &__price {
            font-size: 12px;
            color: #888;
        }

        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 0;
        }

        &__description,
        &__price {
            font-size: 14px;
            line-height: 0;
        }
    }
}
